{# filepath: /c:/Users/Dev404/Documents/foot_connect/FOOT_CONNECT/templates/profil/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gradient-to-br from-gray-50 to-gray-100 py-8 px-4 sm:px-6 lg:px-8">
        <div class="max-w-6xl mx-auto">
            {# Variables utilisées dans les templates partiels #}
            {% set isCurrentUser = app.user.pseudo == user.pseudo %}
            {% set isModerator = is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ADMIN') %}
            
            {# En-tête du profil #}
            {% include 'partials/profil/_header.html.twig' with {
                'user': user,
                'isCurrentUser': isCurrentUser
            } %}

            {# Statistiques utilisateur #}
            {% include 'partials/profil/_stats.html.twig' with {
                'photos': photos,
                'followersCount': followersCount,
                'followingCount': followingCount
            } %}

            {# Section des avertissements #}
            {% if (isCurrentUser or isModerator) and warnings is defined and warnings|length > 0 %}
                {% include 'partials/profil/_warnings.html.twig' with {
                    'warnings': warnings,
                    'unviewedWarnings': unviewedWarnings,
                    'isCurrentUser': isCurrentUser,
                    'isModerator': isModerator
                } %}
            {% endif %}

            {# Sections du profil pour l'utilisateur connecté #}
            {% if isCurrentUser %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    {# Mon réseau #}
                    {% include 'partials/profil/_network.html.twig' with {
                        'user': user
                    } %}

                    {# Section Modération (conditionnelle) #}
                    {% if isModerator %}
                        {% include 'partials/profil/_moderation.html.twig' %}
                    {% endif %}
                </div>
            {% endif %}

            {# Section des photos #}
            {% if photos is defined and photos|length > 0 %}
                {% include 'partials/profil/_photos.html.twig' with {
                    'photos': photos,
                    'isCurrentUser': isCurrentUser
                } %}
            {% endif %}
        </div>
    </div>
    
    <script>
        function markAsRead(event, warningId) {
            // Logique pour marquer l'avertissement comme lu
            // À implémenter si nécessaire
        }
    </script>
{% endblock %}