{# filepath: /c:/Users/Dev404/Documents/foot_connect/FOOT_CONNECT/templates/partials/profil/_network.html.twig #}
{#
 # Partiel pour la section réseau de l'utilisateur
 # 
 # Variables attendues:
 # - user: l'utilisateur dont on affiche le profil
 #}

<div class="bg-white rounded-xl shadow-lg overflow-hidden h-full mb-6 transform transition-all duration-300 hover:shadow-2xl">
    <div class="bg-gradient-to-r from-blue-600 to-blue-500 px-6 py-4">
        <h3 class="text-xl font-bold text-white flex items-center">
            <span class="material-icons mr-2">Mon réseau</span>
        </h3>
    </div>
    <div class="p-6 space-y-4">
        <a href="{{ path('app_followers', {'id': user.id}) }}" class="flex items-center text-gray-800 hover:text-blue-600">
            <span class="material-icons text-blue-500 mr-2">Voir mes abonnés </span>
        </a>
        <a href="{{ path('app_following', {'id': user.id}) }}" class="flex items-center text-gray-800 hover:text-blue-600">
            <span class="material-icons text-blue-500 mr-2">Voir mes abonnements</span>
        </a>
        <a href="{{ path('app_blocked_users', {'id': user.id}) }}" class="flex items-center text-gray-800 hover:text-blue-600">
            <span class="material-icons text-blue-500 mr-2">Voir les personnes bloquées</span>
        </a>
    </div>
</div>