{# filepath: /c:/Users/Dev404/Documents/foot_connect/FOOT_CONNECT/templates/message/content.html.twig #}
<div class="flex {% if message.author.id == app.user.id %}justify-end{% else %}justify-start{% endif %} mb-3">
    <div class="max-w-[75%]">
        {% if message.author.id != app.user.id %}
            <div class="text-xs text-gray-500 ml-2 mb-1">{{ message.author.pseudo }}</div>
        {% endif %}
        
        <div class="{% if message.author.id == app.user.id %}bg-blue-600 text-white{% else %}bg-gray-100 text-gray-800{% endif %} rounded-lg px-3 py-2 shadow-sm">
            <p class="text-sm break-words">{{ message.content }}</p>
            
            <div class="mt-1 flex justify-end">
                <span class="text-xs {% if message.author.id == app.user.id %}text-blue-100{% else %}text-gray-500{% endif %}">
                    {{ message.createdAt|date('H:i') }}
                </span>
            </div>
        </div>
    </div>
</div>

